{% extends 'base.html.twig' %}

{% block title %}Informations visiteur {% endblock %}



{% block body %}



    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {{ form_start(ticketForm) }}
                    {{ form_row(ticketForm.name) }}
                    {{ form_row(ticketForm.first_name) }}
                    {{ form_row(ticketForm.country) }}
                    {{ form_row(ticketForm.birth_date) }}
                    {{ form_row(ticketForm.reduced_price) }}


                    <button type="submit" class="btn btn-success">Valider</button>
                {{ form_end(ticketForm) }}
            </div>

        </div>
    </div>

    <hr>

{% endblock %}


