{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur la billetterie du Louvre ! {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css">
{% endblock %}

{% block body %}


    <!-- Main Content -->
    <div class="container">
        <h2>Billet d'entrée</h2>
        <p>Veuillez remplir le formulaire ci-dessous</p>
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {{ form_start(ticketForm) }}
                    {{ form_row(ticketForm.date) }}
                    {{ form_row(ticketForm.type) }}
                    {{ form_row(ticketForm.amount) }}
                    {{ form_row(ticketForm.mail) }}

                    <button type="submit" class="btn btn-success">Suivant</button>
                {{ form_end(ticketForm) }}
            </div>

    </div>

    <hr>

{% endblock %}

{% block javascripts %}
        {{ parent() }}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.js "></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/locales/bootstrap-datepicker.fr.min.js"></script>

        <script>
            jQuery(document).ready(function() {
                $('.js-datepicker').datepicker(
                    {
                    format:'dd/mm/yyyy',
                    daysOfWeekDisabled: [0,2],
                    daysOfWeekHighlighted: [0,6],
                    datesDisabled: ['2018/05/01','2018/11/01','2018/12/25','2019/05/01','2019/11/01','2019/12/25','2020/05/01','2020/11/01','2020/12/25','2021/05/01','2021/11/01','2021/12/25'],
                    startDate: 'd',
                    titleFormat: "mm yy", /* Leverages same syntax as 'format' */

                    language: 'fr',
                    });







            });
        </script>
{% endblock %}