{% extends 'base.html.twig' %}

{% block title %}Récapitulatif de la commande {% endblock %}



{% block body %}



<!-- Main Content -->
<div class="container">
    <div class="row">
        {#<div class="col-lg-8 col-md-10 mx-auto">

            {%  for calculator in calculators %}
            {{ calculator.calculators }}
            {% endfor %}
        </div>#}
        <div class="col-lg-8 col-md-10 mx-auto">
            <h1>Récapitulatif de la commande</h1>
            <p>Vous avez réservez {{ booking.amount }} place(s) pour une {% if  booking.type == 'd' %} journée {% else %} demi-journée {%  endif %} pour le {{ booking.date|date("d m Y", "Europe/Paris") }}</p>
            <p>numéro de commande : {{ booking.numberOrder }}</p>
            {% for b in booking.informations %}

              <table>

                  <tr>
                      <td>
                          {{ b.name }} {{ b.firstName }} <br>
                          né(e) le {{ b.birthDate|date("d-m-y", "Europe/Paris") }} <br>
                          Réduction : {% if b.reducedPrice == '0'%} non {% else %} oui {% endif %}<br><br>
                          Prix du billet : {{ b.priceTicket }} €

                      </td>
                  </tr>
              </table>

            {% endfor %}

        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">


            <a href="{{ path('stripe') }}">Aller au paiement</a>

        </div>

    </div>
</div>



    {% endblock %}


